<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>nexus-releases</id>
			<username>${env.NEXUS_DEPLOY_USER}</username>
			<password>${env.NEXUS_DEPLOY_PASSWORD}</password>
		</server>
		<server>
			<id>nexus-snapshots</id>
			<username>${env.NEXUS_DEPLOY_USER}</username>
			<password>${env.NEXUS_DEPLOY_PASSWORD}</password>
		</server>
	</servers>

	<profiles>
		<profile>
			<id>nexusrepos</id>
			<repositories>
				<repository>
					<id>public-repo</id>
					<name>Public Repo</name>
					<url>${env.NEXUS_REPO_URL}</url>
					<layout>default</layout>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>public-snapshots</id>
					<name>Public Snapshots Repo</name>
					<url>${env.NEXUS_SNAPSHOTS_REPO_URL}</url>
					<layout>default</layout>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>

</settings>
